.container {
    background-color: gray;
    margin: 60px auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(500px, 1fr) );
}

body {
    background-color: gray;
    margin: 0px;
}

.canvas_container {
    position: relative;
    margin: 30px auto;
    width: fit-content;
    height: fit-content;
    background-color: white;
}

.canvas_container:hover {
    border-left: 10px solid orange;
    left: 5px;
}

.active {
    background-color: darkgray;
}

.page_number_navigation_container_container {
    text-align: center;
    margin: 30px auto;
}


.page_number_navigation_container_container>.page_number_navigation_container {
    display: inline-block;
    border-radius: 20px;
    padding: 0px 10px;
    border-right: orange;
    border-left: orange;
}
.page_number_navigation_container {
    background-color: orange;
}
.page_number_navigation_container>div {
    display: inline-block;
}
.page_number_navigation_container>a:hover {
    animation-name: page_number;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.page_number_navigation_container>div>a:hover {
    animation-name: page_number;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

@keyframes page_number {
    0% {}
    100% {background-color: gray;}
}
a.disabled {
    pointer-events: none;
    cursor: default;
}