{% csrf_token %}
{% include drawing_tool with canvas_id=canvas_id %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    function _getImageData(context) {
        let imgData = context.getImageData(0, 0, 400, 300);
        return imgData;
    }

    function _putImageData(context, imgData) {
        context.putImageData(imgData, 0, 0);
    }
	let store_imageData = (imgData) => {
		let xhttp = new XMLHttpRequest();
		xhttp.open("POST", "{% url api drawing_tool_name %}", true);
		xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xhttp.setRequestHeader("X-CSRFToken", csrftoken); 
		xhttp.send(JSON.stringify(imgData.data));
	};

let load_imageData = (context) => {
	let xhttp = new XMLHttpRequest();
	xhttp.responseType = 'json';
	xhttp.onreadystatechange = function() {
		if (this.response)
		{
			console.log(this.response);
			imgData = context.createImageData(400, 300);
			let idx = 0;
			while (idx.toString() in this.response)
			{
				imgData.data[idx] = this.response[idx.toString()];
				idx ++;
			}
			_putImageData(context, imgData);
		}
	};
	xhttp.open("GET", "{% url api_get drawing_tool_name %}", true);
	xhttp.send();
};
let test_func = () => {
	let canvas;
	let context;
	canvas = document.getElementById("{{canvas_id}}");
	context = canvas.getContext('2d');
	store_imageData(_getImageData(context));
};
let test_func_load = () => {
	let canvas;
	let context;
	canvas = document.getElementById("{{canvas_id}}");
	context = canvas.getContext('2d');
	load_imageData(context);
};
</script>
