{% csrf_token %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    if (window.addEventListener) {
        window.addEventListener('load', function() {
            let canvas;
            let context;

            function init() {
                canvas = document.getElementById("{{canvas_id}}");
                if (!canvas) {
                    return;
                }

                if (!canvas.getContext) {
                    return;
                }

                context = canvas.getContext('2d');
                if (!context) {
                    return;
                }
                canvas.addEventListener('mousemove', ev_mousemove, false);
            }

            var started = false;

            function ev_mousemove(ev) {
                let x;
                let y;

                if (ev.layerX || ev.layerX == 0) { // Firefox
                    x = ev.layerX;
                    y = ev.layerY;
                } else if (ev.offsetX || ev.offsetX == 0) { // Opera
                    x = ev.offsetX;
                    y = ev.offsetY;
                }

                if (!started) {
                    context.beginPath();
                    context.moveTo(x, y);
                    started = true;
                } else {
                    context.lineTo(x, y);
                    context.stroke();
                }
            }

            init();
        }, false);
    }

    function _getImageData(context) {
        let imgData = context.getImageData(0, 0, 400, 300);
        return imgData;
    }

    function _putImageData(context, imgData) {
        context.putImageData(imgData, 0, 0);
    }
	let store_imageData = (imgData) => {
		let xhttp = new XMLHttpRequest();
		xhttp.open("POST", "{% url api %}", true);
		xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xhttp.setRequestHeader("X-CSRFToken", csrftoken); 
		xhttp.send(JSON.stringify(imgData.data));
	};

let load_imageData = (context) => {
	let xhttp = new XMLHttpRequest();
	xhttp.responseType = 'json';
	xhttp.onreadystatechange = function() {
		if (this.response)
		{
			console.log(this.response);
			imgData = context.createImageData(400, 300);
			let idx = 0;
			while (idx.toString() in this.response)
			{
				imgData.data[idx] = this.response[idx.toString()];
				idx ++;
			}
			_putImageData(context, imgData);
		}
	};
	xhttp.open("GET", "{% url api_get %}", true);
	xhttp.send();
};
let test_func = () => {
	let canvas;
	let context;
	canvas = document.getElementById("{{canvas_id}}");
	context = canvas.getContext('2d');
	store_imageData(_getImageData(context));
};
let test_func_load = () => {
	let canvas;
	let context;
	canvas = document.getElementById("{{canvas_id}}");
	context = canvas.getContext('2d');
	load_imageData(context);
};
</script>
