{% csrf_token %}
{% include drawing_tool with canvas_id=canvas_id implement_conveyor_belt=implement_conveyor_belt %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    function _getImageData(context) {
        let imgData = context.getImageData(0, 0, 400, 300);
        return imgData;
    }

    function _putImageData(context, imgData) {
        context.putImageData(imgData, 0, 0);
    }
	let store_imageData = (imgData, canvas=null) => {
		let xhttp = new XMLHttpRequest();
		if (canvas)
		{
			canvas_id = canvas.getAttribute('id')
			if (canvas_id != 'canvas' && "{{drawing_tool_order}}" != "1")
			{
				xhttp.open("POST", `{% url api drawing_tool_name %}${canvas_id}/`, true);
			}
			else
			{
				xhttp.open("POST", "{% url api drawing_tool_name %}", true);
			}
		}
		else
		{
			xhttp.open("POST", "{% url api drawing_tool_name %}", true);
		}
		xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xhttp.setRequestHeader("X-CSRFToken", csrftoken);
		xhttp.send(JSON.stringify(imgData.data));
	};

let load_imageData = (context, canvas=null) => {
	let xhttp = new XMLHttpRequest();
	xhttp.responseType = 'json';
	xhttp.onreadystatechange = function() {
		if (this.response)
		{
			console.log(this.response);
			let imgData = context.createImageData(400, 300);
			let res_obj;
			if ('canvas_id' in this.response)
			{
				if (canvas)
					canvas.setAttribute('id', `${this.response['canvas_id']}`);
				res_obj = this.response['imgdata'];
			}
			else {
				res_obj = this.response;
			}
			let idx = 0;
			while (idx.toString() in res_obj)
			{
				imgData.data[idx] = res_obj[idx.toString()];
				idx ++;
			}
			_putImageData(context, imgData);
		}
	};
	xhttp.open("GET", "{% url api_get drawing_tool_name 'True' 'True' %}", true);
	xhttp.send();
};
let test_func = (canvas=null) => {
	let context;
	let canvas_container;
	if (false)
	{
		canvas = document.getElementById("{{canvas_id}}");
	}
	else if (canvas==null)
	{
		canvas = canvas_container.querySelector("canvas");
	}
	canvas_container = canvas.parentNode;
	context = canvas.getContext("2d");
	store_imageData(_getImageData(context), canvas);
	if (true)
	{
		document.querySelector('.container').removeChild(canvas_container);
		canvas.remove();
		canvas_container.remove();
	}
};
let test_func_load = () => {
	let canvas;
	let context;
	canvas = document.getElementById("{{canvas_id}}");
	context = canvas.getContext('2d');
	load_imageData(context, canvas);
	return canvas;
};
let make_new_canvas = () => {
	if (document.querySelectorAll(".{{canvas_id}}").length != 0)
		return;
	let canvas = document.createElement("canvas");
	if ("{{drawing_tool_order}}" == "1")
	{
		canvas.id = `{{canvas_id}}${parseInt(document.querySelectorAll(".canvas_container")[0].children[0].id) + 1}`;
	}
	else
	{
		canvas.id = "{{canvas_id}}";
	}
	canvas.setAttribute("width", 400);
	canvas.setAttribute("height", 300);
	canvas_container = document.createElement("div");
	canvas_container.setAttribute("class", "canvas_container");
	canvas_container.appendChild(canvas);
	document.querySelector(".container").appendChild(canvas_container);
	$(canvas_container).offset({left:0});
	return canvas;
};
if ("{{implement_conveyor_belt}}" == "True")
{
	setInterval(() => {
		let canvas = make_new_canvas();
		if ("{{drawing_tool_order}}" == "1")
		{}
		else
		{
			test_func_load();
		}
		draw_func(canvas);
		if ("{{implement_pop_by_position}}" == "True")
		{}
		else
		{
		setTimeout(() => {
			test_func(canvas);
		}, 9000);
		}
	}, 4000);
}
</script>
