.machine_box_container {
	position: fixed;
	height: 400px;
	width: 2000px;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: orange;
}
.machine_box {
	color: red;
	position: fixed;
	z-index: 10;
	height: 400px;
	width: 400px;
	background-color: grey;
}
.canvas_container {
	margin-top: 50px;
}
{% if implement_machine_box_right == 'True' %}
.machine_box_right {
	color: red;
	position: fixed;
	z-index: 10;
	height: 400px;
	width: 400px;
	background-color: grey;
	margin-left: calc(100% - 400px);
}
{% endif %}
