<script>
let mouse_down = false;
let tempered = false;
document.body.addEventListener('mousedown', (ev) => {
    mouse_down = true;
});
document.body.addEventListener('mouseup', (ev) => {
    mouse_down = false;
});
let draw_func;
let init_x;
let init_y;
if ("{{implement_conveyor_belt}}" == "True")
	    {
	draw_func = (canvas) => {
            var started = false;

            function ev_mousemove(ev) {
                if (!mouse_down)
                {
                    started = false;
                    return;
                }
                tempered = true;
		let canvas = ev.target || ev.srcElement;
		let context = canvas.getContext("2d");
		    let offset;
		if (false)
		    {
		let boundingClientRect = canvas.getBoundingClientRect();
		    }
		    else{
			    offset = $(canvas).position();
		    }
                let x;
                let y;

                if (ev.layerX || ev.layerX == 0) { // Firefox
                    x = ev.layerX;
                    y = ev.layerY;
                } else if (ev.offsetX || ev.offsetX == 0) { // Opera
                    x = ev.offsetX;
                    y = ev.offsetY;
                }
		x -= offset.left;
		y -= offset.top;

                if (!started) {
                    context.beginPath();
                    context.moveTo(x, y);
                    init_x = x;
                    init_y = y;
                    started = true;
                } else {
			if ("{{implement_other_tools}}" == "True")
			{
				{% include other_tool %}
			}
			else
			{
                    context.lineTo(x, y);
                    context.stroke();
			}
                }
            }
			let context;
                context = canvas.getContext('2d');
                if (!context) {
                    return;
                }
		context.strokeStyle = "{{strokeStyle}}";
                canvas.addEventListener('mousemove', ev_mousemove, false);

		};
	    }
else {
    if (window.addEventListener) {
        window.addEventListener('load', function() {
            let canvas;
            let context;

            function init() {
                canvas = document.getElementById("{{canvas_id}}");
                if (!canvas) {
                    return;
                }

                if (!canvas.getContext) {
                    return;
                }

                context = canvas.getContext('2d');
                if (!context) {
                    return;
                }
		context.strokeStyle = "{{strokeStyle}}";
                canvas.addEventListener('mousemove', ev_mousemove, false);
            }

            var started = false;

            function ev_mousemove(ev) {
		    let offset;
		if (false)
		    {
		let boundingClientRect = canvas.getBoundingClientRect();
		    }
		    else{
			    offset = $(canvas).position();
		    }
                let x;
                let y;

                if (ev.layerX || ev.layerX == 0) { // Firefox
                    x = ev.layerX;
                    y = ev.layerY;
                } else if (ev.offsetX || ev.offsetX == 0) { // Opera
                    x = ev.offsetX;
                    y = ev.offsetY;
                }
		x -= offset.left;
		y -= offset.top;

                if (!started) {
                    context.beginPath();
                    context.moveTo(x, y);
                    started = true;
                } else {
                    context.lineTo(x, y);
                    context.stroke();
                }
            }

            init();
        }, false);
	    }
    }
</script>
