<script>
    if (window.addEventListener) {
        window.addEventListener('load', function() {
            let canvas;
            let context;

            function init() {
                canvas = document.getElementById("{{canvas_id}}");
                if (!canvas) {
                    return;
                }

                if (!canvas.getContext) {
                    return;
                }

                context = canvas.getContext('2d');
                if (!context) {
                    return;
                }
		context.strokeStyle = "blue";
                canvas.addEventListener('mousemove', ev_mousemove, false);
            }

            var started = false;

            function ev_mousemove(ev) {
                let x;
                let y;

                if (ev.layerX || ev.layerX == 0) { // Firefox
                    x = ev.layerX;
                    y = ev.layerY;
                } else if (ev.offsetX || ev.offsetX == 0) { // Opera
                    x = ev.offsetX;
                    y = ev.offsetY;
                }

                if (!started) {
                    context.beginPath();
                    context.moveTo(x, y);
                    started = true;
                } else {
                    context.lineTo(x, y);
                    context.stroke();
                }
            }

            init();
        }, false);
    }
</script>
