<style>
	{% include 'test_conveyor_belt/conveyor_plates.css' %}
</style>
<script>
let pop_by_position;
let speed = 1;
let add_conveyor_plate = () => {
	let conveyor_plate = document.createElement('div');
	conveyor_plate.setAttribute('class', 'conveyor_plate');
	document.querySelector('.machine_box_container').appendChild(conveyor_plate);
	return conveyor_plate;
};
if ("{{implement_pop_by_position}}" == "True")
{
	pop_by_position = (canvas_container) => {
		let outerWidth_adder = 0;
		if ("{{implement_pop_by_position_left_based}}" == "True")
		{
		}
		else
		{
			outerWidth_adder = $(canvas_container).outerWidth();
		}
		if ($(canvas_container).offset().left + outerWidth_adder >= window.innerWidth)
		{
			test_func(canvas_container.children[0]);
		}
	};
}
{% block js_variables %}
{% endblock js_variables %}
	setInterval(function () {
		let conveyor_plates = document.querySelectorAll(".conveyor_plate");
		for (let conveyor_plate of conveyor_plates)
		{
			let boundingClientRect = conveyor_plate.getBoundingClientRect();
			let conveyor_plate_x = boundingClientRect.x + speed;
			if (conveyor_plate_x >= window.innerWidth)
			{
				conveyor_plate_x = 0;
			}
			$(conveyor_plate).offset({ left: conveyor_plate_x });
		}
		let canvas_containers = document.querySelectorAll(".canvas_container");
		for (let canvas_container of canvas_containers)
		{
			{% comment %}for (let item of canvas_containers){% endcomment %}
			{% comment %}{{% endcomment %}
				{% comment %}if (item.children[0].id == "{{canvas_id}}"){% endcomment %}
				{% comment %}{{% endcomment %}
					{% comment %}canvas_container = item;{% endcomment %}
				{% comment %}}{% endcomment %}
			{% comment %}}{% endcomment %}
			if (!canvas_container.style.marginLeft)
			{
				canvas_container.style.marginLeft = '0px';
			}
			let boundingClientRect = canvas_container.getBoundingClientRect();
			let canvas_container_x = boundingClientRect.x + speed;
			$(canvas_container).offset({ left: canvas_container_x });
			if ("{{implement_pop_by_position}}" == "True")
			{
				if (canvas_container.querySelector('canvas'))
				{
					pop_by_position(canvas_container);
				}
			}
			if (false)
			{
				let marginLeft = canvas_container.style.marginLeft;
				marginLeft.replace('px', '');
				let canvas_container_x = parseInt(marginLeft);
			}
			{% block canvas_container_interval %}
			{% endblock canvas_container_interval %}
			if (false)
			{
				canvas_container.style.marginLeft = `${++canvas_container_x}px`;
			}
		}
	}, 6);
	let machine_box_container = document.querySelector('.machine_box_container');
	let machine_box_container_width = $(machine_box_container).width();
	for (let i = 0; i <= machine_box_container_width; i += 100)
	{
		add_conveyor_plate();
	}
</script>
